body {
    font-size: 20px;
    font-family: monospace;
    background-image:  linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)),
    url('https://images.unsplash.com/photo-1528459801416-a9e53bbf4e17?ixlib=rb-1.2.1&auto=format&fit=crop&w=2155&q=80');
}

table {
    width: 50%;
    margin: 0 auto;
    border-radius: 5px;
}

#importance {
    border: 2px solid blue;
    margin-bottom: 25px;
}

#importance thead {
    background-color: cadetblue;
}

#importance td {
    border-top: 1px solid cadetblue;
}

#specificity {
    border: 2px solid brown;
}

#specificity thead {
    background-color: crimson;
}

#specificity td {
    border-top: 1px solid cadetblue;
}

#source-order {
    width: 30%;
    margin: 25px auto;
    height: 150px;
    border: 2px solid lightcoral;
}

#source-order thead{
    background-color: lightsalmon;
}

#source-order td {
    border-top: 1px solid lightsalmon;
}

td {
    padding: 5px;
}

tr {
    /* background-color: whitesmoke; */
}

.center {
    text-align: center;
}

h1,
h2 {
    text-align: center;
    color: darkslateblue;
}

p{
    font-size: xx-large;
}

.container {
    max-width: 300px;
    margin: 50px auto;
    background-color: lightgreen;
    border-radius: 50%;
}

.note {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
